https://github.com/learning-at-home/hivemind/archive/dalle-v1.zip
https://github.com/learning-at-home/dalle-pytorch/archive/weight-sharing.zip
torchmetrics==0.6.2
bitsandbytes-cuda111==0.26.0.post2
transformers==4.12.2
tokenizers==0.10.3
datasets==1.14.0
torch-optimizer==0.1.0
wandb==0.12.1
nltk==3.6.2
sentencepiece==0.1.96
aiohttp==3.7.4.post0
requests>=2.23.0
termcolor==1.1.0
