git+git://github.com/learning-at-home/hivemind
git+git://github.com/learning-at-home/dalle-pytorch@weight-sharing
transformers>=4.9.2
tokenizers>=0.10.2
datasets>=1.11.0
torch_optimizer>=0.1.0
wandb>=0.10.33
nltk>=3.6.2
sentencepiece
aiohttp
requests>=2.24.0